# Ignorar compilaciones y dependencias de Maven
/target/
.mvn/

# Configuración del entorno de desarrollo
.idea/
*.iml
.classpath
.project
.settings/

# Archivos de sistemas operativos
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.tmp
*.out
*.pid

# Configuración de GitHub Codespaces
.devcontainer/
.vscode/

